.button {
  width: 352px;
  height: 72px;
  color: $color-black;
  font-size: 11px;
  font-family: $font-circle-regular;
  text-transform: uppercase;
  line-height: 146%;
  background: $color-supernova;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  & > :first-child {
    padding-left: 32px;
  }
  &:after {
    display: block;
    margin-right: 16px;
    transform: rotate(180deg);
    content: url(../img/Arrow_Copy_2.png);
    @media only screen and (min-width: $screen-desktop-from) {
      margin-right: 24px;
    }
  }
  @media only screen and (min-width: $screen-desktop-from) {
    width: 304px;
  }
}
