<section class="belly">
    <div class="belly_title">
        Доступные платежные системы
    </div>
    <div class="belly_partners">
        <div class="belly_group_first">
            <div class="belly_partners_fp"></div>
            <div class="belly_partners_cash"></div>
            <div class="belly_partners_pm"></div>
            <div class="belly_partners_wm"></div>
        </div>
        <div class="belly_group_second">
            <div class="belly_partners_net"></div>
            <div class="belly_partners_visa"></div>
            <div class="belly_partners_pw"></div>
            <div class="belly_partners_uk"></div>
        </div>
    </div>
</section>