<section class="belly">
    <div class="belly_title">
        Доступные платежные системы
    </div>
    <div class="belly_partners">
        <div class="belly_group_first">
            <div class="belly_partners_fp"></div>
            <div class="belly_partners_cash"></div>
            <div class="belly_partners_pm"></div>
            <div class="belly_partners_wm"></div>
        </div>
        <div class="belly_group_second">
            <div class="belly_partners_net"></div>
            <div class="belly_partners_visa"></div>
            <div class="belly_partners_pw"></div>
            <div class="belly_partners_uk"></div>
        </div>
    </div>
    <div class="belly_group_third">
        <input class="input" placeholder='Мобильный телефон' />
        <input class="input" placeholder='Email' />
        <div class="button">
            <span>открыть счет</span>
        </div>
    </div>
    <div class="belly_description">
        По некоторым
        <a href="#">способам ввода/вывода средств</a> действуют ограничения по размеру минимальной суммы операции для осуществления транзакции
        без комиссии.
    </div>
</section>