<section class="chest">
    <div class="chest_text__v">
        Для всех типов счетов
    </div>
    <div class="chest_banner">
        <object type="image/svg+xml" data="./img/zero.svg" class="chest_banner__icon"></object>
        <div class="chest_banner_text__h">
            Комиссия за переводы
        </div>
    </div>
    <div class="chest_description">
        Выводя со счета форекс-брокера EXNESS $1000, вы получаете на свой новый кошелек или банковский счет ровно $1000.
    </div>
    <div class="chest_description__desktop">
        Выводя со счета форекс-брокера EXNESS $1000, вы получаете на свой кошелек или банковский счет ровно $1000.
    </div>
</section>