<section class="foots">
    <div class="foots__socials">
        <div class="foots__socials_vk"></div>
        <div class="foots__socials_ok"></div>
        <div class="foots__socials_twitter"></div>
        <div class="foots__socials_fb"></div>
        <div class="foots__socials_youtube"></div>
        <div class="foots__socials_linkedin"></div>
        <div class="foots__socials_ksin"></div>
        <div class="foots__socials_instagram"></div>
        <div class="foots__socials_google"></div>
    </div>
    <div class="foots_titles__mobile">
        <a href="#">О компании</a>
        <a href="#">Торговля</a>
        <a href="#">Инструменты</a>
        <a href="#">Партнерство</a>
    </div>
    <div class="foots_titles__desktop">
        <div class="foots_titles__desktop_group">
            <a href="#">О компании</a>
            <a href="#">О компании</a>
            <a href="#">О компании</a>
            <a href="#">О компании</a>
            <a href="#">О компании</a>
            <a href="#">Служба поддержки клиентов</a>
        </div>
        <div class="foots_titles__desktop_group">
            <a href="#">Торговля</a>
            <a href="#">Торговля</a>
            <a href="#">Торговля</a>
            <a href="#">Торговля</a>
            <a href="#">Правило предастовления кредитного плеча</a>
        </div>
        <div class="foots_titles__desktop_group">
            <a href="#">Инструменты</a>
            <a href="#">Инструменты</a>
            <a href="#">Инструменты</a>
            <a href="#">Инструменты</a>
            <a href="#">Инструменты</a>
        </div>
        <div class="foots_titles__desktop_group_no--first-activated">
            <a href="#">Экономический календарь</a>
            <a href="#">Аналитика</a>
            <a href="#">Калькулятор трейдера и конвертер валют</a>
            <a href="#">Загрузки</a>
        </div>
        <div class="foots_titles__desktop_group_all-acticated">
            <a href="#">Партнерство</a>
            <a href="#">Библиотека</a>
            <a href="#">FAQ</a>
        </div>
    </div>
    <div class="foots_bottom">
        <div class="foots_bottom__left">
            <div class="foots_bottom__left_top">
                The website of www.exness.com is operated by Exness Limited, (registration number 21927 (IBC 2014). Exness Limited is an
                International Business Company in Saint Vincent and the Grenadines. Exness (Cy) Ltd is a member of the Exness
                Group; authorised and regulated by CySEC (Cyprus Securities and Exchange Commission), License number 178/12.
                Exness (Cy) Ltd operates the website www.exness.eu.
            </div>
            <div class="foots_buttom__left_bottom">
                The information on this website may only be copied with the express written permission of Exness. General Risk Warning: CFDs
                are leveraged products. Trading in CFDs carries a high level of risk thus may not be appropriate for all
                investors. The investment value can both increase and decrease and the investors may lose all their invested
                capital. Under no circumstances shall the Company have any liability to any person or entity for any loss
                or damage in whole or part caused by, resulting from, or relating to any transactions related to CFDs. Learn
                more © 2008—2017. Exness
            </div>
        </div>
        <div class="marks">
            <div class="marks_row">
                <div class="marks_sysec"></div>
                <div class="marks_beliz"></div>
            </div>
            <div class="marks_row">
                <div class="marks_nqa"></div>
                <div class="marks_sm"></div>
                <div class="marks_cascade"></div>
            </div>
        </div>
    </div>

</section>