<section class="head">
    <div class="head_top">
        <div class="head_top__logo">
        </div>
        <div class="head_top__menu">
            <div class="head_top__menu_left">русский</div>
            <div class="head_top__menu_right">сайт exness</div>
        </div>
    </div>

    <div class="head_title">
        Подлинная свобода распоряжения своими средствами на Форекс
    </div>
    <div class="head_subtitle">
        Пополняйте счет и выводите прибыль без комиссий
    </div>
    <div class="button">
        <span>пополнить счет</span>
    </div>
</section>