@import "normalize";
@import "_base/fonts";
@import "_base/variables";
@import "partials/button";
@import "partials/sections/head";
html,
body {
  height: 100%;
}
.root {
  width: 100%;
  height: 100%;
  font-family: $font-arial-mt;
  background: $color-alto;
}
.container {
  margin: 0 auto;
  background: red;
  min-width: $min-width;
  @media only screen and (min-width: $screen-desktop-from) {
    background: green;
    max-width: $max-width;
  }
}
