.chest {
  color: $color-black;
  font-family: $font-circle-regular;
  display: flex;
  flex-direction: column;
  background: $color-supernova;

  padding-bottom: 63px;
  @media only screen and (min-width: $screen-tablet-from) {
    padding-bottom: 45px;
  }
  @media only screen and (min-width: $screen-desktop-from) {
    flex-direction: row;
    padding: 30px 35px 50px 50px;
  }
  position: relative;
  &_text__v,
  &_banner_text__h {
    display: none;
    @media only screen and (min-width: $screen-desktop-from) {
      display: block;
      font-family: $font-circle-bold;
      font-size: 20px;
      line-height: 160%;
    }
  }
  &_text__v {
    display: none;
    @media only screen and (min-width: $screen-desktop-from) {
      display: block;
      position: absolute;
      bottom: 64px;
      left: 50px;
      transform: rotate(-90deg);
      transform-origin: left top 0;
    }
  }
  &_banner_text__h {
    padding-left: 53px;
  }
  &_banner {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    @media only screen and (min-width: $screen-desktop-from) {
      display: block;
      padding-left: 135px;
    }
    &__icon {
      transform: scale(0.67, 0.67);
      @media only screen and (min-width: $screen-tablet-from) {
        transform: scale(0.8, 0.8);
        margin-bottom: 20px;
      }
      @media only screen and (min-width: $screen-desktop-from) {
        transform: scale(1, 1);
      }
    }
  }
  &_description {
    font-size: 22px;
    text-align: center;
    padding: 0 20px;
    // line-height: 127%;
    @media only screen and (min-width: $screen-tablet-from) {
      font-size: 32px;
    }
    @media only screen and (min-width: $screen-desktop-from) {
      display: none;
    }
    &__desktop {
      display: none;
      @media only screen and (min-width: $screen-desktop-from) {
        display: block;
        font-size: 40px;
        text-align: left;
        padding: 72px 0 0 152px;
        line-height: 120%;
      }
    }
  }
}
