.foots {
  background: $color-mine-shaft;
  @media only screen and (min-width: $screen-desktop-from) {
    padding-top: 30px;
    padding-bottom: 60px;
  }

  &__socials {
    display: flex;
    justify-content: space-between;
    padding: 57px 63px 40px;
    align-items: center;
    @media only screen and (min-width: $screen-tablet-from) {
      justify-content: center;
      & > div {
        margin: 10px;
      }
      //padding: 0 470px 30px;
    }
    @media only screen and (min-width: $screen-desktop-from) {
      justify-content: space-between;
      padding: 0 470px 30px;
      border-bottom: 1px solid adjust-color($color-dusty-gray-darker, -0.7);
      & > div {
        margin: 0;
      }
    }

    &_vk {
      background-image: url(../img/VK@2x.png);
      width: 32px;
      height: 18px;
    }
    &_ok {
      background-image: url(../img/Ok@2x.png);
      width: 15px;
      height: 24px;
    }

    &_twitter {
      background-image: url(../img/Twitter@2x.png);
      width: 24px;
      height: 20px;
    }

    &_fb {
      background-image: url(../img/Facebook@2x.png);
      width: 20px;
      height: 20px;
    }
    &_youtube {
      background-image: url(../img/Youtube@2x.png);
      width: 26px;
      height: 18px;
    }
    &_linkedin {
      background-image: url(../img/LinkedIn@2x.png);
      width: 20px;
      height: 20px;
    }

    &_ksin {
      background-image: url(../img/Ksin@2x.png);
      width: 23px;
      height: 22px;
    }
    &_instagram {
      background-image: url(../img/Instagram@2x.png);
      width: 20px;
      height: 20px;
    }
    &_google {
      background-image: url(../img/Google@2x.png);
      width: 20px;
      height: 20px;
    }
  }
  &_titles {
    &__mobile {
      display: flex;
      justify-content: space-between;
      padding: 0 41px;
      & > a {
        padding-bottom: 20px;
        text-decoration: none;
        color: $color-white;
        font-size: 16px;
        line-height: 150%;
        font-family: $font-circle-regular;
      }
      border-bottom: 1px solid adjust-color($color-dusty-gray-darker, -0.7);
      @media only screen and (min-width: $screen-desktop-from) {
        display: none;
      }
    }
    &__desktop {
      display: none;
      @media only screen and (min-width: $screen-desktop-from) {
        display: flex;
        justify-content: space-between;
        padding: 37px 102px 80px 60px;
        font-size: 16px;
      }
      &_group {
        font-family: $font-circle-light;
        display: flex;
        width: 185px;
        flex-direction: column;
        & > a {
          color: $color-dusty-gray;
          display: inline-block;
          margin-top: 15px;
          &:first-child {
            color: $color-white;
            margin-top: 0;
          }
        }
        &_no--first-activated {
          display: flex;
          flex-direction: column;
          margin-top: 18px;

          & > a {
            display: inline-block;
            font-family: $font-circle-light;
            margin-top: 15px;
            color: $color-dusty-gray;
          }
        }
        &_all-acticated {
          display: flex;
          flex-direction: column;
          & > a {
            display: inline-block;
            font-family: $font-circle-light;
            margin-top: 15px;
            color: $color-white;
            &:first-child {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
  .foots_bottom {
    display: block;
    font-family: $font-arial-mt;
    font-size: 11px;
    color: $color-dove-gray;
    text-align: center;
    padding: 37px 28px 40px;
    position: relative;
    &__left {
      @media only screen and (min-width: $screen-desktop-from) {
        width: 835px;
      }
    }

    @media only screen and (min-width: $screen-desktop-from) {
      font-size: 13px;
      text-align: left;
      padding-right: 0;

      padding: 0 0 0 60px;
    }
    &__left {
      &_top {
        margin-bottom: 10px;
      }
    }
  }
  .marks {
    display: none;
    @media only screen and (min-width: $screen-desktop-from) {
      display: block;
      position: absolute;
      top: 0;
      right: 0;

      width: 350px;
      &_beliz {
        width: 60px;
        height: 60px;
        background-image: url(../img/beliz.png);
      }
      &_sysec {
        width: 116px;
        height: 60px;
        margin-right: 34px;
        background-image: url(../img/sysec.png);
      }
      &_cascade {
        width: 80px;
        height: 47px;
        background-image: url(../img/cascade.png);
      }

      &_nqa {
        margin-right: 34px;
        width: 42px;
        height: 58px;
        background-image: url(../img/icon-nqa.png);
      }
      &_sm {
        margin-right: 34px;
        width: 66px;
        height: 21px;
        background-image: url(../img/icon-sm.png);
      }
      &_row {
        display: flex;
        align-items: center;
        &:first-child {
          padding-left: 79px;
        }
        &:last-child {
          margin-top: 27px;
          padding-left: 40px;
        }
      }
    }
  }
}
