@font-face {
  font-family: "ArialMT";
  src: url("../fonts/ArialMT.ttf");
}
@font-face {
  font-family: "CirceBold";
  src: url("../fonts/Circe-Bold.ttf");
}
@font-face {
  font-family: "CirceExtraLight";
  src: url("../fonts/Circe-ExtraLight.ttf");
}
@font-face {
  font-family: "CirceLight";
  src: url("../fonts/Circe-Light.ttf");
}
@font-face {
  font-family: "CirceRegular";
  src: url("../fonts/Circe-Regular.ttf");
}
