//--FONTS
$font-arial-mt: "ArialMT";
$font-circle-bold: "CirceBold";
$font-circle-extra-light: "CirceExtraLight";
$font-circle-light: "CirceLight";
$font-circle-regular: "CirceRegular";

//--SCREEN SIZE
$screen-desktop-from: 481px;
$max-width: 1280px;
$min-width: 480px;

//--COLORS I use http://chir.ag/projects/name-that-color for defining our colors
$color-white: #fff;
$color-alto: #d2d2d2;
$color-alto-darker: #dedede;
$color-supernova: #ffcf00;
$color-black: #000000;
$color-gallery: #efefef;
$color-dusty-gray: #9b9b9b;
$color-dusty-gray-darker: #979797;
$color-mariner: #327bc3;
$color-mine-shaft: #202020;
$color-dove-gray: #616161;
